#div-memoria{
	border: solid 2px #e55304;
	height: 70px;
	padding: 0px;
}

.libre, .ocupado {
	float: left;
	height: 66px;
	text-align: center;
	font-size: 10pt;
	font-weight: 900;
}

.libre{
	background-color: #d6d6d6;
	border: solid 1px #e55304;
	line-height: 66px;
}

.ocupado{
	line-height: 20px;
	background-color: rgba(0, 157, 214,0.5);
	height: 64px;
}

.libre p, .ocupado p{
	margin-top: 0px;
	margin-bottom: 0px;
}

#consola{
	font-family: "Fira Code";
	color: white;
	background-color: #303030;
	height: 100px;
}

.margen{
	margin-top: 50px;
}

.leyenda{
	margin: 90px;
	box-shadow:1px 1px 10px 1px #303030;
	border-radius: 5px;
	width: 35%;
	padding: 10px;
}
.btn-success , .btn-danger{
	box-shadow:1px 1px 6px 1px #303030;
}
p , #h4{
	text-align: center;
}

#logo{
	padding-left: 145px;
}